* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: no-repeat;
  background-position: center center;
  color: #ffffff;
  text-shadow: rgb(7, 7, 7) 3px 3px 5px, rgb(3, 3, 3) -1px -1px 0, rgb(3, 3, 3) -1px 1px 0,
  rgb(0, 0, 0) 1px -1px 0;    
  background-blend-mode: multiply;
  background-image: url(../assets/images/bg.jpg);
  /*background: url("assets/images/overlay.png") center center / cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));*/
  transition: background-image 1.5s ease-in-out;
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid red;
}


.weather {
  position: fixed;
  top: 1.5rem;
  /*margin-top: 1rem;*/
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.weather-icon {
  width: 100%;
  font-size: 3rem;

}
.temperature {
  display: flex;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.humidity {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.windspeed {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.weather-description {
  display: flex;
  font-size: 1.8rem;
}

#city {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  outline: none;
}

#city::placeholder {
  color: #cfcaca;
  opacity: 0.8;
  font-weight: 400;
  margin: 0 auto;
}
#city:focus::placeholder {
  opacity: 0;    
}


.head-1 {
  display: flex;
}

input {    
  width: 15em;
  text-align: center;
  background: none;
  border: none;
  /*border-bottom: 1px rgb(246, 236, 246) solid;*/
  text-align: center;
  word-wrap: break-word;
  
  
}
.container {
  position: relative;
  word-wrap: break-word;
  display: inline-flex;
  flex-direction: column;
  /*background: rgba(56, 55, 55, 0.2);
  border-radius: 10%;*/
  margin-top: 3rem;   
 

}

#name::placeholder {
  color: #cfcaca;
  opacity: 0.6;
  font-weight: 400;
  margin: 0 auto;
}
#name:focus::placeholder {
  opacity: 0;    
}




#name {
  min-width: 0;
  display: inline-block;
  margin: 0.5 auto 0 0;
  outline: none;
  /*background: none;*/
  /*background: wheat;*/
  color: rgb(255, 255, 255);
  
  font-size: 3.5rem;
  font-weight: 700;
}

#date1 {
  font-size: 5rem;
}


#time {
  font-size: 7rem;
}
#greeting {
  white-space: pre-line;
  font-size: 3rem;
  opacity: 0.8; 
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-size: 3rem;


}
#focustoday {
  outline: none;
  border: none;
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#focustoday::placeholder {
  color: #cfcaca;
  opacity: 0.6;
  font-weight: 400;
  margin: 0 auto;
}
#focustoday:focus::placeholder {opacity: 0;}

.quotes-wrapper  {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  max-width: 60%;
  
  
}
.quote {
  display: flex; 
  font-size: 1.7rem;

  /*position: fixed;*/
  /*height: 10%;*/
}
.author {
  margin-top: 2rem;
  margin-left: auto; 
  font-size: 1.5rem;
}


.btn {    
  position: absolute;
  vertical-align: auto;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  background: url(../assets/bg-icon.png);  /* без .. все работало локально, но не загружалось на гитхаб*/
  background-size: contain;
  background-repeat: no-repeat;     
}


.btn:hover {  
  cursor: pointer;   
  background-color: rgb(192, 130, 5); 
}

.btn:active,
.btn:focus {
  outline: 0;
  cursor: pointer;
}

.btn:active {    
 transform: rotate(90deg);   
 transition: all .3s ease-in-out; 
}



.btn-quote {
  margin: auto;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 50%;
  background: url(../assets/bg-icon.png);
  background-size: contain;
  background-repeat: no-repeat;  
}

.btn-quote:hover {  
  cursor: pointer;   
  background-color: rgb(216, 105, 41); 
}

.btn-quote:active,
.btn-quote:focus {
  outline: 0;
  cursor: pointer;
}

.btn-quote:active {    
 transform: rotate(90deg);   
 transition: all .3s ease-in-out; 
}

@media screen and (max-width: 1600px){
  .quotes-wrapper  {   
    bottom: 1rem;
    margin-top: 0.5rem; 
    max-width: 90%; 
    
  }
  .quote {
    font-size: 2.5rem;
  }
  .author {
    margin-top: 1rem;
    margin-left: auto; 
    font-size: 2rem;
  }

  .btn {
    width: 3.5rem;
    height: 3.5rem;  
    right: 3rem;
  }
  .btn-quote {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 1280px) {

  .weather {
    align-items: center;
    margin-bottom: 0.2rem;
  }
  .weather-icon {
    width: 100%;
    font-size: 5rem;
  
  }
  .temperature {
    font-size: 2rem;
    margin-bottom: 0.1rem;
  }
  .humidity {    
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  .windspeed {    
    margin-top: 0.1rem;
    font-size: 1.5rem;
  }
  .weather-description {    
    font-size: 1.7rem;
  }
  #city {
    font-size: 2rem;
  }
  input {
    width: 15em;
  }
  #name {
    font-size: 3.5rem;
  }
  #time {
    font-size: 3rem;
  }

  #date1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 1rem;
  }
  #greeting {   
    margin-top: 2rem; 
    font-size: 3rem;    
  }
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;    
    font-size: 3rem; 
  
  }

  #focustoday {   
    font-size: 3.5rem;
  }
  .quotes-wrapper  {   
    bottom: 1rem;
    margin-top: 0.5rem; 
    max-width: 80%; 
    
  }
  .quote {
    font-size: 2rem;
  }
  .author {
    margin-top: 1rem;
    margin-left: auto; 
    font-size: 1.8rem;
  }

  .btn {
    width: 3rem;
    height: 3rem;  
    right: 2rem;
  }
  .btn-quote {
    width: 2rem;
    height: 2rem;
  }

}


@media screen and (max-width: 1024px) {

  .weather {
    align-items: center;
    margin-bottom: 0.2rem;
  }
  .weather-icon {
    width: 100%;
    font-size: 2rem;
  
  }
  .temperature {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
  }
  .humidity {    
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  .windspeed {    
    margin-top: 0.1rem;
    font-size: 1rem;
  }
  .weather-description {    
    font-size: 1.1rem;
  }
  #city {
    font-size: 1rem;
  }
  input {
    width: 10em;
  }
  #name {
    font-size: 2.5rem;
  }
  #time {
    font-size: 3rem;
  }

  #date1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 1rem;
  }
  #greeting {    
    font-size: 2rem;    
  }
  h1 {
    margin-bottom: 0.1rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;    
    font-size: 2rem; 
  
  }

  #focustoday {   
    font-size: 2.5rem;
  }
  .quotes-wrapper  {   
    bottom: 1rem;
    margin-top: 0.5rem; 
    max-width: 90%; 
    
  }
  .quote {
    font-size: 1.2rem;
  }
  .author {
    margin-top: 1rem;
    margin-left: auto; 
    font-size: 1rem;
  }

  .btn {
    width: 2rem;
    height: 2rem;  
    right: 1rem;
  }
  .btn-quote {
    width: 1rem;
    height: 1rem;
  }

}



@media (max-width: 700px) {
  .time {
    font-size: 5rem;
  }

  .weather {
    align-items: center;
    margin-bottom: 1rem;
  }
  .weather-icon {
    width: 100%;
    font-size: 2rem;
  
  }
  .temperature {
    font-size: 1.5rem;
  }
  .humidity {    
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  .windspeed {
    
    margin-top: 0.3rem;
    font-size: 1rem;
  }
  .weather-description {    
    font-size: 1.5rem;
  }
  #city {
    font-size: 1rem;
  }
  input {
    width: 10em;
  }
  #name {
    font-size: 2.5rem;
  }

  #date1 {
    font-size: 3rem;
  }
  #greeting {    
    font-size: 2rem;    
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;    
    font-size: 2rem; 
  
  }

  #focustoday {   
    font-size: 2.5rem;
  }
  .quotes-wrapper  {   
    bottom: 1rem;
    margin-top: 0.5rem; 
    max-width: 90%; 
    
  }
  .quote {
    font-size: 1.2rem;
  }
  .author {
    margin-top: 1rem;
    margin-left: auto; 
    font-size: 1rem;
  }

  .btn {
    width: 2rem;
    height: 2rem;  
    right: 1rem;
  }
  .btn-quote {
    width: 1rem;
    height: 1rem;
  }

}
@media (max-width: 500px) {
  .container {
    margin-top:1rem;    
  }
  .weather {
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .weather-icon {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0;
  
  }
  .temperature {
    margin-top: 0;
    font-size: 1rem;
  }
  .humidity {    
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  .windspeed {
    
    margin-top: 0.1rem;
    font-size: 1rem;
  }
  .weather-description {    
    font-size: 1rem;
  }
  #time {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  #date1 {
    font-size: 1rem;
  }

  #greeting {    
    margin-top: 1rem;
    font-size: 1rem;    
  }
  #name {
    font-size: 1rem;
  }

  h2 {
    margin-bottom: 0.5rem;    
    font-size: 1rem; 
  
  }
  #focustoday {   
    font-size: 1rem;
  }
  .quotes-wrapper  {   
    bottom: 1rem;
    margin-top: 0.5rem; 
    max-width: 90%; 
    
  }
  .quote {
    font-size: 1rem;
  }
  .author {
    margin-top: 1rem;
    margin-left: auto; 
    font-size: 0.8rem;
  }
}





