* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*height: 100vh;*/
    background-size: cover;
    color: #000000;
  }

  .weather {
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;


  }
  .weather-icon {

  }
  .temperature {
    display: flex;
    font-size: 2rem;
  }

  .humidity {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .windspeed {
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .weather-description {
    display: flex;
    font-size: 1.8rem;
  }
  
  .city {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
  }



  .head-1 {
    display: flex;
  }

  input {
    
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px rgb(12, 11, 12) solid;
    text-align: center;
    
    
  }
  .container {
    display: flex;
    flex-direction: column;
    background: rgba(56, 55, 55, 0.2);
    border-radius: 10%;
    margin-top: 3rem;   
    

  }

  #name::placeholder {
    color: #1d1b1b;
    opacity: 0.5;
    font-weight: 400;
    margin: 0 auto;
  }
  #name:focus::placeholder {opacity: 0;}

  span {
    
  }

  #name {
    min-width: 0;
    display: inline-block;
    margin: 0.5 auto 0 0;
    outline: none;
    /*background: none;*/
    /*background: wheat;*/
    color: black;
    
    font-size: 4rem;
    font-weight: 700;
  }
  
  #date1 {
    font-size: 5rem;
  }


  #time {
    font-size: 7rem;
  }
  #greeting {
    white-space: pre-line;
    font-size: 3rem;
    opacity: 0.8; 

  }
  
  h1 {
    margin-bottom: 4rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
    font-size: 3rem;


  }
  #focustoday {
    outline: none;
    border: none;
    font-size: 3rem;
    font-weight: 700;
  }

  /*#focustoday: :focus {
    border-bottom: 2px rgb(105, 103, 105) solid;
  }*/
  
  .quotes-wrapper  {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-width: 70%;
    font-size: 1.5rem;
  }
  .quote {
    display: flex;
  }
  .author {
    margin-top: 3.3rem;
    margin-left: auto; 
  }


  @media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
  }