* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
  }

  /*input {
    width: 100%;
    text-align: center;
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
 /* input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
 /* input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */



  span {
    
  }

  #name {
    display: block;
    margin: 0 auto;
    outline: none;
    /*background: none;*/
    /*background: wheat;*/
    border: none;
    font-size: 4rem;
  }
  
  #date1 {
    font-size: 5rem;
  }


  #time {
    font-size: 8rem;
  }
  #greeting {
    white-space: pre-line;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }
  
  @media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
  }