body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.main-page-wrapper {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: flex;
  border: 1px solid red;
}
/* КАРТА */
#map {
  width: 50%;
  height: 40vh;
  margin-top: 1%;
  margin-left: 6%;
  border: 1px solid rgb(255, 230, 0);
}
.round {
  width: 10em;
  height: 10em;
  border: 2px solid rgb(100, 11, 11);
  border-radius: 50%;
  background: rgb(114, 14, 2);
}
/* .icon-marker {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: pink;
  border-radius: 50%;
}
.icon-marker:hover {
  display: block;
}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  width: 50px;
  font-size: 1rem;
  border-radius: 15%;
  background-color: grey;
}
.icon-marker-tooltip::before {
  display: block;
} */

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
  width: 50px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(187, 98, 98);
  border-radius: 50%;
  /* box-shadow: 0 2px 5px rgba(black, 0.9); */
}

.icon-marker:hover .icon-marker-tooltip {
  display: block;
}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  /* bottom: 100%; */
  width: 100px;
  font-size: 1rem;
  padding: 5px;
  background-color: rgb(199, 199, 199);
  border-radius: 15%;
  /* margin-bottom: 1em; */
  /* box-shadow: 0 3px 5px rgba(black, 0.9); */
}

.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  /* bottom: -0.6em; */
  left: 50%;
  /* content: ""; */
  width: 100px;
  height: 100px;
  background-color: rgb(238, 238, 238);
  transform: rotate(45deg);
  /* margin-left: -0.7em; */
}

.icon-marker-tooltip h2 {
  font-size: 1.1rem;
  /*   line-height: 1.2;
  margin-bottom: 0.1em;
  margin-top: 0; */
}

.icon-marker-tooltip ul,
li {
  font-weight: normal;
}

.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
}

/*----column2-----*/
.column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* ТАБЛИЦА */

.table {
  margin: 12px auto 10px;
  background: rgb(226, 221, 221);
  border: 1px solid black;
  width: 80%;
  height: 70px;
  text-align: center;
  border-collapse: collapse;
}

.table:-webkit-full-screen {
  background-color: rgb(255, 255, 255);
}
.table:-webkit-full-screen caption img {
  display: none;
}
.table:-webkit-full-screen caption {
  background-color: rgb(231, 228, 229);
  /* height: 100px; */
  text-align: center;
  /* padding-top: 50px; */
}
/* .table:-webkit-full-screen tfoot {
  height: 100px;
} */

.table:-webkit-full-screen tfoot tr:first-child {
  /*  padding-bottom: 200px; */
}
.table:-webkit-full-screen tfoot tr:last-child {
}

.table:-ms-fullscreen {
  height: 50vh;
  background-color: rgb(255, 255, 255);
}
.table:-moz-full-screen {
  height: 50vh;
  background-color: rgb(255, 255, 255);
}

.table caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding-bottom: 10px;
}
.table caption button {
  float: right;
}
.table tr th {
  font-weight: normal;
}

.table tr th,
td {
  border-right: 1px dotted black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
th {
  padding: 10px;
}
.table tfoot {
  color: rgb(21, 20, 22);
}
.table tfoot tr:first-child {
  background-color: rgb(153, 233, 233);
}
.table tfoot tr:last-child {
  background-color: rgb(212, 208, 255);
}
.table tfoot tr td {
  font-size: 1rem;
}

.arrow {
}
.arrow:hover {
  cursor: pointer;
  transform: scaleY(1.1);
  transition: 0.5s;
}
.arrow-table {
  float: right;
  margin-top: 2px;
  margin-right: 10px;
}

/* СПИСОК */

.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;

  margin: 100px auto 10px;
  /* border: 1px solid green; */
  overflow: hidden;
  padding: 0;
}
.list-wrapper:-webkit-full-screen {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.list-wrapper:-webkit-full-screen :first-child img {
  display: none;
}
.list-wrapper:-ms-fullscreen {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.list-wrapper:-moz-full-screen {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.list-header {
  display: flex;
  justify-content: space-between;
}
.list-search {
  display: flex;
  width: 50%;
  font-size: 1.2rem;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.list-countries {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  max-height: 500px;
  overflow-y: scroll;
}
.list-countries li:hover {
  border: 1px solid rgb(99, 189, 241);
}

.list-item-country {
  list-style: none;
  padding: 10px;
  font-size: 1.5rem;
}
.list-item-country :hover {
  cursor: pointer;
}

.list-item-country img {
  margin-right: 10px;
}
.list-item-country span + span {
  margin-right: 10px;
  float: right;
}

.list-cases {
  background-color: rgb(247, 171, 250);
  text-align: center;
  padding: 2px 0;
}
.list-cases span {
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}
.arrow-list {
  float: right;
  margin-top: 2px;
  margin-right: 10px;
}

/* Button */
.fullscreen {
  background-color: transparent;
  border: 0;
  outline: none;
}
.fullscreen:hover {
  cursor: pointer;
  transform: scaleY(1.1);
  transition: 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .main-page-wrapper {
    /* height: 82vh; */
    width: 95%;
    flex-direction: column;
  }
  #map {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 25%;
  }
  .column-2 {
    width: 100%;
  }
  .table {
    width: 100%;
  }
  .table caption {
    font-size: 1rem;
  }
  .table tr th,
  td {
    border-right: 1px dotted black;
    font-size: 0.9rem;
    letter-spacing: 0;
  }
  th {
    padding: 1px;
  }
  .table tfoot tr td {
    font-size: 0.8rem;
  }

  .list-wrapper {
    width: 100%;
    margin: 70px auto 5px;
  }
  .list-search {
    font-size: 1rem;
  }
  .list-item-country {
    padding: 5px;
    font-size: 1rem;
  }
  .list-cases span {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  .main-page-wrapper {
    /* width: 80%; */
    flex-direction: column;
  }
  #map {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 35%;
  }
  .column-2 {
    width: 100%;
  }
  .table {
    width: 100%;
    margin-left: 0;
  }
  .table caption {
    font-size: 1.2rem;
  }
  .table tr th,
  td {
    border-right: 1px dotted black;
    font-size: 1rem;
    letter-spacing: 0;
  }
  th {
    padding: 3px;
  }
  .table tfoot tr td {
    font-size: 0.9rem;
  }

  .list-wrapper {
    width: 100%;
    margin: 80px auto 5px;
  }
  .list-search {
    font-size: 1rem;
  }
  .list-item-country {
    padding: 8px;
    font-size: 1.2rem;
  }
  .list-cases span {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-page-wrapper {
    width: 80%;
    flex-direction: column;
  }
  #map {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 65%;
  }
  .column-2 {
    width: 100%;
  }
  .table {
    width: 80%;
    margin: 0 auto;
  }
  .table caption {
    font-size: 1.2rem;
  }
  .table tr th,
  td {
    border-right: 1px dotted black;
    font-size: 1rem;
    letter-spacing: 0;
  }
  th {
    padding: 3px;
  }
  .table tfoot tr td {
    font-size: 0.9rem;
  }

  .list-wrapper {
    width: 80%;
    margin: 80px auto 5px;
  }
  .list-search {
    font-size: 1rem;
  }
  .list-item-country {
    padding: 8px;
    font-size: 1.2rem;
  }
  .list-cases span {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-page-wrapper {
    width: 80%;
    flex-direction: column;
  }
  #map {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 55%;
  }
  .column-2 {
    width: 100%;
  }
  .table {
    width: 80%;
    margin: 0 auto;
  }
  .table caption {
    font-size: 1.2rem;
  }
  .table tr th,
  td {
    border-right: 1px dotted black;
    font-size: 1rem;
    letter-spacing: 0;
  }
  th {
    padding: 3px;
  }
  .table tfoot tr td {
    font-size: 0.9rem;
  }

  .list-wrapper {
    width: 80%;
    margin: 80px auto 5px;
  }
  .list-search {
    font-size: 1rem;
  }
  .list-item-country {
    padding: 8px;
    font-size: 1.2rem;
  }
  .list-cases span {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1900px) {
  .list-wrapper {
  }
}
